| Welcome to #{appName}, #{name}!
| 
| Thank you for creating an account with us. To complete your registration, please verify your email address by entering the following verification code:
| 
| #{verificationCode}
| 
| Important: This verification code will expire in #{expiresIn}.
| 
| Security Notice: If you didn't create an account with #{appName}, please ignore this email. Your email address may have been entered by mistake.
| 
| If you have any questions, please don't hesitate to contact our support team.
| 
| ---
| © #{currentYear} #{appName}. All rights reserved.
| This email was sent to #{email} for account verification purposes.
| Need help? Contact us at support@#{appName.toLowerCase().replace(/\s+/g, '')}.com 