| Hello #{name},
| 
| We received a request to reset your password for your #{appName} account. If you made this request, click the link below to reset your password:
| 
| #{resetUrl}
| 
| Important: This link will expire in #{expiresIn}.
| 
| Security Notice: If you didn't request a password reset, please ignore this email. Your account is secure and no action is required.
| 
| ---
| © #{currentYear} #{appName}. All rights reserved.
| This email was sent to #{email} for password reset purposes. 